.container-fluid .dat {
  height: 800px;
  background-image: url(img/back.jpg);
  background-size: 100% 100%;
}
.container-fluid .dat .v1 {
  height: 20px;
  margin: 0 auto;
}
.container-fluid .dat .v2 {
  height: 150px;
  margin: 0 auto;
}
.container-fluid .dat .v2 h2 {
  text-align: center;
  color: yellow;
  padding-top: 15px;
}
.container-fluid .dat .v2 h5 {
  color: white;
  text-align: center;
}
.container-fluid .dat .v3 {
  height: 300px;
  margin: 0 auto;
}
.container-fluid .dat .v3 .v3-1 {
  height: 300px;
}
.container-fluid .dat .v3 .v3-1 .card-text {
  text-align: center;
  text-transform: uppercase;
  color: white;
}
