.container-fluid{
	// <!-- phong -->

	// 	<!-- end phong -->

	// 	<!-- hung -->
		
	// 	<!-- end hung -->
	// 	<!-- dat -->
		
	// 	<!-- end dat -->
	// 	<!-- thang -->
		
	// 	<!-- end thang -->
	// 	<!-- duy -->
		
	// 	<!-- end duy -->
	// 	<!-- son -->
		
	// 	<!-- end son -->
	// 	<!-- duy01 -->
		
	// 	<!-- end duy01 -->
	// 	<!-- hung01 -->
		
	// 	<!-- end hung01 -->
	// 	<!-- hau -->
			
				.hau{
					background-image: url(img/hau.png);
					height: 500px;
					color: white;
					.hau1{
						margin: 0 auto;					
						.hinh{
							float: left;
							img{
								margin: 50px 0;
								padding: 0;
								height: 400px;
								width: 100%;
							}
						}
						.nd{
							float: left;
							h2{
								margin-top:80px;
							}
							h4{
								color: yellow;
							}
							.media{
								// background: yellow;
								img{
									width: 30px;
									height: 30px;
									border-radius: 50%;
									background: yellow;
								}
								p{
									font-size: 11pt;
									padding-top: 10px;
								}
								button{
									border:none;
									background: #FFFF00;
								}
							}
						}
					}
				}
			
	// 	<!-- end hau -->

}// container-flui
