.container-fluid{
	// <!-- phong -->

	// 	<!-- end phong -->

	// 	<!-- hung -->
		
	// 	<!-- end hung -->
	// 	<!-- dat -->
		
	// 	<!-- end dat -->
	// 	<!-- thang -->
		.container{
	height: 700px;
	// background: grey;
	.v1{
		height: 200px;
		// background: red;
		.media-body{
			h5{
			text-align: center;
			padding-top: 70px;
			}
			p{
			text-align: center;
			}
		}
		
	}
	.v2{
		height: 450px;
		// background: yellow;
		// width: 80%;
		margin: 0 auto;

		.v3{
			height: 150px;
			// background: pink;
			width: 100%;
			margin: 0;
			// background: blue;
			@media screen and(max-width: 676px){
				.col-md-2{
					float: left;
					width: 20%;
					
				}
				.col{
					float: left;
					width: 80%;
				}
			}
			h6{
				text-align: center;
				line-height: 150px;
			}
		}
		.v4{
			background: pink;
			img{
				padding: 10px;
				width: 150px;
				height: 145px;
			}
			.media-body{
				h5{
					padding: 10px;
				}
				p{
					text-align: justify;
					display: block;
				}
			}
			.line{
				width: 100%;
				height: 2px;
				background: black
			}
		}
	}
}
	// 	<!-- end thang -->
	// 	<!-- duy -->
		
	// 	<!-- end duy -->
	// 	<!-- son -->
		
	// 	<!-- end son -->
	// 	<!-- duy01 -->
		
	// 	<!-- end duy01 -->
	// 	<!-- hung01 -->
		
	// 	<!-- end hung01 -->
	// 	<!-- hau -->
		
	// 	<!-- end hau -->

}// container-flui
